/* global fonts, font weight and font color */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* @import url('https://fonts.cdnfonts.com/css/miama'); */
@import url('https://fonts.cdnfonts.com/css/miama?styles=170364');

.regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.medium{
    font-weight: 500;
}
.semi-bold{
    font-weight: 600;
}
.bold{
    font-weight: 700;
}
.bolder{
    font-weight: 800;
}
.heavy{
    font-weight: 900;
}
/* common text colors */
.red{
    color: rgb(230, 83, 60);
}
.white{
    color: rgb(255, 255, 255);
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
button:hover{
    opacity: 0.8;
    cursor: grab;
}
/* header styles */
header{
    /* background: linear-gradient(180deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%); */
    background: rgb(17, 17, 17);
    padding-top: 30px;
}
nav{
    display: flex;
    margin: 0 auto;
    width: 83%;
    justify-content: space-between;
    align-items: center;
    /* text-align: center; */
    /* justify-items: center; */
}
.nav-heading{
    font-style: italic;
}
.nav-links{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 47px;
}
.nav-link{
    background-color:rgb(230, 83, 60) ;
    padding:8px 20px 8px 20px;
    border-radius: 46px;
}
.menu-btn{
    display: none;
}

/* hero section */
.hero{
    width: 83%;
    display: flex;
    margin: 0 auto;
    margin-top: 90px;
    justify-content: space-between;
}
.hero-text-heading{
    font-size: 4.875rem;
    line-height: 120%;
    margin: 0;
    /* padding: 0; */
}
.hero-text-heading>span{
    font-family: miama; 
    font-size: 4.875rem;
}
.hero-text-para{
    color: rgba(255, 255, 255, 0.5);
    margin-top: 20px;

}
.hero-btn>button{
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    font-weight: 600;
    font-size: 1.125rem;
    color: rgb(255, 255, 255);
    background-color: rgb(17, 17, 17);
    border: 1px solid white;
    margin-top: 25px;
}
#hero-btn{
    background-color: rgb(230, 83, 60);
    border: none;
}
.hero-img{
    position: relative;
}
.free-workout{
    position: absolute;
    top: 260px;
    right: 80px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    color: rgb(255, 255, 255);
    padding: 17px 23px 16px 24px;
    backdrop-filter: blur(20px);
}
.free-workout>h1{
    font-size: 2.5rem;
}
.free-workout>p{
    font-size: 0.82rem;
    color: rgba(255, 255, 255, 0.65);
}
.video-tutorial-icon{
    position: absolute;
    top: 570px;
    right: 350px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    color: rgb(255, 255, 255);
    padding: 17px 23px 16px 24px;
    display: flex;
    gap: 12px;
    align-items: center;
    backdrop-filter: blur(20px);
}
.icon{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: rgb(230, 83, 60);
}
.video-tutorial>h1{
    font-size: 2.5rem;
}
.video-tutorial>p{
    font-size: 0.82rem;
    color: rgba(255, 255, 255, 0.65);
}




@media screen and (max-width:576px) {
    nav{
        width: 89.5%;
    }
    .nav-heading{
        font-size: 2.25rem;
    }
    .nav-links{
        display: none;
    }
    .menu-btn{
        display: inherit;
        height: 24px;
        width: 24px;
    }
}