/* global fonts, font weight and font color */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.medium{
    font-weight: 500;
}
.semi-bold{
    font-weight: 600;
}
.bold{
    font-weight: 700;
}
.bolder{
    font-weight: 800;
}
.heavy{
    font-weight: 900;
}
/* common text colors */
.red{
    color: rgb(230, 83, 60);
}
.white{
    color: rgb(255, 255, 255);
}


/* header styles */
header{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}
nav{
    display: flex;
    margin: 0 auto;
    width: 83%;
    justify-content: space-between;
    align-items: center;
    /* text-align: center; */
    /* justify-items: center; */
}
.nav-heading{
    font-style: italic;
}
.nav-links{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 47px;
}
.nav-link{
    background-color:rgb(230, 83, 60) ;
    padding:8px 20px 8px 20px;
    border-radius: 46px;
}
.menu-btn{
    display: none;
}


@media screen and (max-width:576px) {
    nav{
        width: 89.5%;
    }
    .nav-heading{
        font-size: 2.25rem;
    }
    .nav-links{
        display: none;
    }
    .menu-btn{
        display: inherit;
        height: 24px;
        width: 24px;
    }
}